<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<!--header-->
<div class="alert alert-success mb-1" role="alert">
    <h2>Blog</h2>
</div>
<!--header-->

<!--nav-->
<!-- Nav tabs -->
<ul class="nav nav-tabs|pills btn btn-light mb-3" id="navId">
    <li class="nav-item">
        <a href="#tab1Id" class="nav-link active">Active</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#tab2Id">Action</a>
            <a class="dropdown-item" href="#tab3Id">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#tabs5Id"></a>
        </div>
    </li>
    <li class="nav-item">
        <a href="#tab5Id" class="nav-link">Another link</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link disabled">Disabled</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane fade in active" id="tab1Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tab2Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tab3Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tabs5Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tab5Id" role="tabpanel"></div>
</div>

<script>
    $('#navId a').click(e => {
        e.preventDefault();
        $(this).tab('show');
    });
</script>
<!--nav-->

<!--section-->
<div class="container">
    <div class="row">

        <div class="col-9">
            <div class="container-fluid">

                <!--                table-->
                <div class="row">
                    <div class="col-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Category</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="blogList">

                            </tbody>
                        </table>
                    </div>
                </div>
                <!--                table-->

            </div>
        </div>

        <div class="col-3">
            <div class="row mb-2">
                <div class="col-12">
                    <div class="card" style="width: 20rem;">
                        <!--                        <img class="card-img-top" src="..." alt="Card image cap">-->
                        <div class="card-body">
                            <p class="card-text" style="text-align: center">Actions</p>
                            <form>
                                <input type="text" name="search" id="search" class="mb-1">
                                <button type="button"
                                        class="btn btn-outline-primary"
                                        onclick="searchBlog()">
                                    Search
                                </button>

                            </form>
                            <form>
                                <input type="number" name="number" id="number" class="mb-1">
                                <button type="button"
                                        class="btn btn-outline-primary"
                                        onclick="displayLimit()">
                                    Show
                                </button>

                            </form>
                            <br>
                            <button type="button" class="btn btn-outline-primary btn-lg mr-1" onclick="getListBlog()">
                                Get List Blog
                            </button>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary btn-lg" data-bs-toggle="modal"
                                    data-bs-target="#modelId" onclick="getListCategory()">
                                Create
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="modelId" tabindex="-1" role="dialog"
                                 aria-labelledby="modelTitleId" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="modelTitleId"></h4>
                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <span>Title</span><br>
                                                <input type="text" name="title" id="name"><br>
                                                <span>Content</span><br>
                                                <input type="text" name="content" id="content"><br>
                                                <span>Category</span><br>
                                                <select name="category" id="categoryList">
                                                </select>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="button" class="btn btn-primary">Save</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <div class="card" style="width: 20rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">item1</li>
                            <li class="list-group-item">item2</li>
                            <li class="list-group-item">item3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--section-->
<!-- Modal -->
<div class="modal fade" id="modelIdDelete" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelTitleId1"></h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you want delete blog?
            </div>
            <div class="modal-footer">
                <form>
                    <input type="hidden" name="id" id="idDelete">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">no</button>
                    <button type="button" class="btn btn-primary"
                            onclick="formRemove()">yes
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script>
    function getListBlog() {
        $(document).ready(function () {
            $.ajax({
                url: 'http://localhost:8080/blog',
                type: 'GET',
                success: function (data) {

                    let blogStr = "";
                    for (let blog of data) {
                        blogStr +=
                            `
                        <tr>
                        <td>${blog.id}</td>
                        <td>${blog.name}</td>
                        <td>${blog.content}</td>
                        <td>${blog.category.name}</td>
                        <td><!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modelIdDelete"
                        onclick="remove(${blog.id})">
                          Delete
                        </button>
                        

                        </td>
                        </tr>
                         `;
                    }
                    $("#blogList").html(blogStr);
                },
                error: function (error) {
                    // TODO
                }
            })
        })
    }

    function remove(id) {
        document.getElementById("idDelete").value = id;
    }

    function formRemove() {
        const id = $("#idDelete").val();
        const url = `http://localhost:8080/blog/${id}`;
        $.ajax({
            url: url,
            type: "DELETE",
            success: function () {
                getListBlog();
            },
            error: function (error) {
            }
        })
    }

    function searchBlog() {
        const name = $("#search").val();
        const url = `http://localhost:8080/blog/search/${name}`;
        $.ajax({
            url: url,
            type: 'GET',
            success: function (data) {
                let blogStr = "";
                for (let blog of data) {
                    blogStr +=
                        `
                        <tr>
                        <td>${blog.id}</td>
                        <td>${blog.name}</td>
                        <td>${blog.content}</td>
                        <td>${blog.category.name}</td>
                        </tr>
                         `;
                }
                $("#blogList").html(blogStr);
            },
            error: function (error) {
                // TODO
            }
        })
    }

    function displayLimit() {
        const number = $("#number").val();
        const url = `http://localhost:8080/blog/limit/${number}`;
        $.ajax({
            url: url,
            type: 'GET',
            success: function (data) {
                let blogStr = "";
                for (let blog of data) {
                    blogStr +=
                        `
                        <tr>
                        <td>${blog.id}</td>
                        <td>${blog.name}</td>
                        <td>${blog.content}</td>
                        <td>${blog.category.name}</td>
                        </tr>
                         `;
                }
                $("#blogList").html(blogStr);
            },
            error: function (error) {
                // TODO
            }
        })
    }

</script>
</body>
</html>